html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 145px;
}

.go-button, .cancel-button {
    display: flex;
    cursor:pointer;
}

.button-area {
    margin-bottom: 20px;
}

.search {
	display: flex;
	justify-content: center;
}
.search-input {
	border: 0;
    background: transparent;
    border-radius: 0;
    font-family: inherit;
    font-size: 5vw;
    line-height: 1;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: 0.1em 0;
    color: #fff;
    border-bottom: 6px solid;
    outline: none;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 50px;  
}

.tiles {
    margin-bottom: 20px;
    cursor:pointer;
}

object {
    pointer-events: none;
}
